<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shopping List{% endblock title %}</title>
    <link defer rel="icon" type="image/svg+xml" href="/public/favicon.svg" sizes="any" />
    {% block js %}<script defer src="/public/htmx.min.js"></script>{% endblock js%}
    {% block css %}<link defer rel="stylesheet" href="/public/style.css" />{% endblock css %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>