{% extends "base" %}

{% block css %}
{{ super() }}
<link defer rel="stylesheet" href="/public/list.css" />
{% endblock %}

{% block content %}
<h1>Todos</h1>
<section hx-get="/todo/items" hx-trigger="load"></section>
{% endblock content %}